<%- include('partials/header.ejs') %>

    <body>
        <button onclick="brawlerSelected('Knight')">
            KNIGHT
        </button>
        <button onclick="brawlerSelected('Archer')">
            Archer
        </button>
    </body>

    <script>
        let webSocket = new WebSocket(window.location.href.replace(/^http/, 'ws'));
        webSocket.addEventListener("open", () => {
            console.log("Connesso al server")
        })

        function brawlerSelected(ID_Client) {
            let message = { type: "brawlerAvailable", ID_Server: ID_Client }
            webSocket.send(JSON.stringify(message))
            console.log(message)

            /*message = { type: "brawlerSelected", ID_Server: ID_Client}
            webSocket.send(JSON.stringify(message))

            //location.href = 'battleground?clientID=' + ID_Client*/
        }

        webSocket.addEventListener("message", (data) => {
            let message = JSON.parse(data.data)
            switch (message.type) {
                case "availableReponse":

                    if(message.available){
                        console.log("disponibile")
                    }else{
                        console.log("non disponibile")
                    }
                    break
            }
        })

        webSocket.onclose = () => {
            webSocket.close()
        }
    </script>

    </html>