<%- include('partials/header.ejs') %>

    <body>
        <button onclick="brawlerSelected('Knight')">
            KNIGHT
        </button>
        <button onclick="brawlerSelected('Archer')">
            Archer
        </button>
    </body>

    <script>
        let ID_Client

        let webSocket = new WebSocket(window.location.href.replace(/^http/, 'ws'));
        webSocket.addEventListener("open", () => {
            console.log("Connesso al server")
        })

        function brawlerSelected(ID_Chosen) {
            ID_Client = ID_Chosen
            let message = { type: "brawlerAvailable", ID_Server: ID_Chosen }
            webSocket.send(JSON.stringify(message))
            console.log(message)

            /*message = { type: "brawlerSelected", ID_Server: ID_Client}
            webSocket.send(JSON.stringify(message))

            //location.href = 'battleground?clientID=' + ID_Client*/
        }

        webSocket.addEventListener("message", (data) => {
            let message = JSON.parse(data.data)
            switch (message.type) {
                case "availableResponse":
                    console.log("response")
                    if (message.available) {
                        console.log("disponibile")
                        let message = { type: "brawlerSelected", ID_Server: ID_Client }
                        webSocket.send(JSON.stringify(message))
                    } else {
                        console.log("non disponibile")
                    }
                    break
            }
        })

        webSocket.onclose = () => {
            

            webSocket.close()
        }
    </script>

    </html>