<%- include('partials/header.ejs') %>

    <body>
        <button onclick="classSelected('Knight')">
            KNIGHT
        </button>
    </body>

    <script>
        let webSocket = new WebSocket(window.location.href.replace(/^http/, 'ws'));
        webSocket.addEventListener("open", () => {
            console.log("Connesso al server")
        })

        function classSelected(name) {
            let message = { type: "classSelected", name: name}
            webSocket.send(JSON.stringify(message))
        }

        webSocket.addEventListener("message", (data) => {
            let message = JSON.parse(data.data)
            switch (message.type) {
                case "changeLocation":
                    location.href = 'battleground'
                    break;
            }
        })

        webSocket.onclose = () => {
            webSocket.close()
        }
    </script>

    </html>